<div flex layout="column">

  <md-toolbar layout="row" class="md-whiteframe-z2">
    <md-button class="menu" hide-gt-sm ng-click="dashboard.toggleList()" aria-label="Show User List">
      <md-icon md-svg-icon="menu" ></md-icon>
    </md-button>
    <h1>Angular + Webpack + JSData + ES6 + Material Design</h1>
  </md-toolbar>

  <div flex layout="row">

      <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left" layout="column">
        <md-list layout="column">
          <md-list-item data-ng-repeat="user in dashboard.users">
              <md-button data-ng-click="dashboard.selectUser(user)" ng-class="{'selected' : user === dashboard.selected }">
                <md-icon md-svg-icon="{{ user.avatar }}" class="avatar"></md-icon>
                {{ user.name }}
              </md-button>
          </md-list-item>
        </md-list>
          <md-progress-circular md-mode="indeterminate" md-diameter="96" data-ng-if="dashboard.users.length === 0"></md-progress-circular>
      </md-sidenav>

      <md-content flex id="content" data-ng-if="dashboard.selected">
        <md-icon md-svg-icon="{{ dashboard.selected.avatar }}" class="avatar"></md-icon>
        <h2>{{ dashboard.selected.name }}</h2>
        <p>{{ dashboard.selected.content }}</p>

        <md-button class="share" md-no-ink ng-click="dashboard.share($event)" aria-label="Share">
          <md-icon md-svg-icon="share"></md-icon>
        </md-button>
      </md-content>

  </div>
</div>
